h1{
text-align:center;}
.center-link {
text-align: center;
}
body {
background-image: url('https://www.usatoday.com/gcdn/authoring/authoring-images/2025/03/11/USAT/82250287007-usatsi-23970260.jpg?width=1733&height=1156&fit=crop&format=pjpg&auto=webp');
background-size:cover;100%
background-repeat: no-repeat;}
h1 {color: white;}
.center-link a {color:orange; 
text-decoration: underline;
font-weight:bold;
text-decoration-color:black;
}
.Fielding {
float:right;
width:50%;
margin-top:30px;
}
.Hitting {
float:right;
width:50%;
margin-top:30px;
}
.clevelandf {
float: left;
width:50%;
margin-top:30px;
}
.clevelandh {
float: left;
width:50%;
margin-top:30px;
}
.Interview {
  float: up;
  margin-top:30px;}
fieldset {
background-color: black;
color: white;
  position: relative;
  left:-300px;
  display: inline-block;
  width: 50%;
  margin-top: 200px;
}
legend {
  padding:2px;
  border:1px solid white;}
.Lindy12 {
  color: white;
  text-align: center;
  padding-right: 450px;
  padding-left: 450px;
}
h2 {color:white;}
.bat { 
position: relative;
  float: left;
}

